################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VNKeys/.vs/VNKeys
/VNKeys/bin/Debug
/VNKeys/obj/Debug
/VNKeys/obj/Release
/VNKeys/.vs
